
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("louisville.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headertext {
  text-align: center;
  font-size: 180%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#btn{
    background-color: black;
    color: whitesmoke;
    border-color: white;
}
#intro{
  text-color: black;
  text-align: center;
}
#profilepic{
width: 50%;
border-radius: 75%;
}
